.header {
  background-color: #f8fafc;
  flex-shrink: 0;
  position: relative;
  z-index: 100;
  overflow: hidden;
  &__t-line-section {
    background-color: $colorF;
    font-size: 14px;
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__t-info-item {
    color: $colorE;
    line-height: 30px;
  }
  .search {
    display: block;
    &__close {
      display: none;
    }
  }
}
.t-line-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__link {
    display: inline-block;
    line-height: 30px;
    color: $colorG;
    transition: $trs1;
    text-decoration: none;
    &.touch,
    &.hover {
      color: $colorB;
    }
    &.focus {
      color: $colorB2;
    }
  }
}
.m-header-block {
  &__container {
    padding: 15px 0;
    align-items: center;
  }
}
.logo {
  display: flex;
  align-items: center;
  &__link {
    height: 70px;
    pointer-events: none;
    margin-right: 20px;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
    &.touch,
    &.hover {
      opacity: 0.9;
    }
    &.focus {
      transform: scale(0.97);
    }
  }
  &__text {
    text-transform: uppercase;
    font-weight: 500;
    span {
      letter-spacing: 0.165em;
    }
  }
  img {
    user-select: none;
  }
  a {
    pointer-events: all;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
.contacts-block {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
.cart-nav-block {
  display: flex;
  &__button {
    display: flex;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    color: $colorG;
    text-align: center;
    padding: 0 0 0 28px;
    &:first-child {
      display: none;
    }
    &:not(:nth-child(2)) {
      margin-left: 20px;
    }
    i {
      line-height: inherit;
      font-size: 22px;
      color: $colorG2;
      transition: inherit;
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      background-color: $colorB;
      display: inline-block;
      font-size: 10px;
      line-height: 17px;
      min-width: 18px;
      text-align: center;
      padding: 0 3px;
      border-radius: 18px;
      position: absolute;
      left: 12px;
      top: -5px;
      color: #fff;
      padding-top: 1px;
      transition: inherit;
    }
    &.hover,
    &.touch {
      color: $colorB;
      i {
        color: $colorB;
      }
      span {
        background-color: $colorB2;
      }
    }
  }
}
.nav-toggle {
  display: none;
  i {
    text-align: center;
    width: 1em;
  }
  i:nth-child(2) {
    opacity: 0;
  }
  &.active {
    i:nth-child(1) {
      opacity: 0;
    }
    i:nth-child(2) {
      opacity: 1;
    }
  }
}

@media all and(min-width: 577px) {
  .header .search {
    display: block !important;
  }
}
@media all and(max-width: 1024px) {
  .t-line-nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .header {
    .contacts-block {
      display: none;
    }
    &__t-line-section .container {
      display: none;
    }
  }
  .nav-toggle {
    display: flex;
  }
  .logo {
    &__link {
      height: 47.5px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .m-header-block__container {
    padding: 15px 0;
  }
}
@media all and(max-width: 768px) {
  .cart-nav-block {
    margin: 0 -14px;
    &__button {
      width: 50px;
      height: 50px;
      padding: 0;
      margin-left: 0 !important;
      span {
        left: 26px;
        top: 3px;
      }
      i {
        font-size: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__button-txt {
      display: none;
    }
  }
}
@media all and(max-width: 576px) {
  .header {
    .search {
      display: none;
      z-index: 10;
      max-width: 150%;
      width: calc(100% + 20px);
      margin: 0;
      padding: 10px 60px 10px 20px;
      left: -10px;
      top: 0;
      position: absolute;
      background-color: #f8fafc;
      &__close {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        color: $colorG2;
        &.touch,
        &.hover {
          color: $colorB;
        }
      }
    }
  }
  .nav-toggle.active {
    transition: background-color $trs2;
    background-color: $colorA;
  }
  .m-header-block__container {
    justify-content: space-between;
    padding: 0;
    flex-wrap: nowrap;
  }
  .cart-nav-block {
    margin: 0 -20px;
    &__button {
      width: 60px;
      height: 60px;
      line-height: 60px;
      span {
        left: 32px;
        top: 9px;
      }
      &:nth-child(1) {
        display: block;
        i {
          font-size: 20px;
        }
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .logo {
    &__link {
      height: 40px;
      padding: 0.3px 0;
      margin-right: 10px;
    }
    &__text {
      font-size: 10px;
      line-height: 1.4;
      span {
        line-height: inherit;
      }
    }
  }
}
@media all and(max-width: 360px) {
  .logo__link {
    height: 35px;
  }
  .cart-nav-block {
    &__button {
      width: 50px;
      height: 50px;
      line-height: 50px;
      i {
        font-size: 22px;
      }
      span {
        left: 26px;
        top: 4px;
      }
    }
  }
}