.message {
  border-radius: 4px;
  padding: 13px 20px;
  display: flex;
  i {
    line-height: 24px;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-right: 15px;
    }
  }
  span {
    line-height: 24px;
  }
  &_alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  &_succes {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &_info {
    background-color: $colorO;
    border: 1px solid #e3e8ea;
  }
  &_fixed {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    max-width: calc(100% - 40px);
  }
}