.slick-slide {
  outline: none;
  float: none;
  height: auto;
}
.slider {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity $trs1;
  .slick-track {
    display: flex;
    margin: 0;
  }
  a, button {
    outline: none;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    li {
      display: block;
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
    button {
      display: block;
      height: 14px;
      width: 14px;
      border: 0;
      background-color: transparent;
      position: relative;
      font-size: 0;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 2px;
        top: 2px;
        border-radius: 100%;
        background-color: $colorH;
        transition: 0.3s;
      }
    }
    .slick-active {
      button:after {
        background-color: $colorB;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    padding: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: $trs1;
    color: #fff;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 18px;
    }
    &.hover,
    &.touch {
      background-color: rgba(0, 0, 0, 0.5);
      color: $colorB;
    }
  }
  .slick-next {
    right: 0;
    border-radius: 4px 0 0 4px;
    &:after {
      content: "\f054";
    }
  }
  .slick-prev {
    left: 0;
    border-radius: 0 4px 4px 0;
    &:after {
      content: "\f053";
    }
  }
  &_default {
    padding: 20px;
    margin: -20px;
    overflow: hidden;
    .slick-list {
      margin: 0 -15px;
      overflow: visible;
    }
    .slick-slide {
      padding: 0 15px;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev {
      left: 20px;
    }
  }
}
.banner-slider {
  border-radius: 8px;
  overflow: hidden;
  &__slide {
    &:before {
      content: '';
      display: block;
      padding-top: 37%;
    }
  }
}
.brands-slider {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $shadow1;
  .slick-prev {
    left: 0!important;
  }
  .slick-next {
    right: 0!important;
  }
  &.size1 {
    padding: 10px 20px;
  }
  &.size2 {
    padding: 30px 20px;
  }
  &__slide {
    height: 70px;
  }
  &__item {
    height: 100%;
    width: 100%;
    transition: $trs2;
    &.hover,
    &.touch {
      opacity: 0.7;
    }
  }
}
.s-ctg-slider {
  &__item {
    transition: $trs2;
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &.touch,
    &.hover {
      opacity: 0.8;
      box-shadow: $shadow11;
    }
  }
}
.m-nav-slider {
  padding: 0 15px 10px 15px;
  &__slide {
    padding: 0 5px;
    .cover-box {
      img {
        padding: 10px;
      }
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
        box-sizing: border-box;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid $colorH;
        box-sizing: border-box;
      }
    }
    &.slick-current {
      pointer-events: none;
      .cover-box {
        &:after {
          border-color: $colorA;
          border-width: 3px;
        }
      }
    }
  }
}
.m-item-slider {
  padding: 10px 20px;
  iframe {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 15%;
  }
  &__slide {
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 70%;
    }
    &.cover-box {
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;
        display: block;
        line-height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 4px;
        background-color: $colorB;
        color: #fff;
        transition: $trs2;
        opacity: 0;
        z-index: 2;
      }
      &.touch,
      &.hover {
        .lazy {
          opacity: 0.8;
        }
        i {
          opacity: 1;
        }
      }
    }
  }
}


@media all and(max-width: 1210px) {
  .slider {
    &_default {
      .slick-list {
        margin: 0 -10px;
      }
      .slick-slide {
        padding: 0 10px;
      }
    }
  }
}
@media all and(max-width: 1024px) {
  .banner-slider {
    &__slide {
      &:before {
        padding-top: 50%;
      }
    }
  }
  .slider {
    .slick-dots {
      bottom: 18px;
    }
  }
}
@media all and(max-width: 576px) {
  .brands-slider.size2 {
    padding: 10px 20px;
  } 
}