.icon {
  fill: #5ba4e4;
  stroke: #5ba4e4;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  transition: inherit;
}
a,button,label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: $trs1;
}
.input {
  position: relative;
  input,
  textarea {
    width: 100%;
    display: block;
    outline: none;
    box-shadow: none;
    appearance: none;
    padding: 0;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    &::placeholder {
      transition: $trs1;
      color: $colorI;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  input {
    line-height: 40px;
    padding: 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  textarea {
    line-height: 20px;
    padding: 10px;
    resize: vertical;
    min-height: 90px;
  }
  i {
    position: absolute;
    width: 16px;
    line-height: 16px;
    text-align: center;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .fa-times,
  .fa-check {
    opacity: 0;
    visibility: hidden;
  }
  .fa-check {
    color: #a0cf46;
  }
  .fa-times {
    color: #d70033;
    font-size: 18px;
  }
  .fa-clock,
  .fa-calendar-alt {
    color: $colorB;
  }
  &.error {
    .fa-times {
      opacity: 1;
      visibility: visible;
    }
  }
  &.succes {
    .fa-check {
      opacity: 1;
      visibility: visible;
    }
  }
  span {
    font-size: 14px;
    margin-top: 4px;
    color: $colorI;
    display: block;
  }
  &.bordered {
    input {
      border: 1px solid $colorH;
      line-height: 38px;
    }
    textarea {
      border: 1px solid $colorH;
      line-height: 20px;
      padding: 9px 10px ;
    }
  }
}
.js-pass-toggle {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  overflow: hidden;
  color: $colorM;
  i {
    line-height: 40px;
    text-align: center;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0);
    pointer-events: none;
    transition: inherit;
  }
  .fa-eye {
    opacity: 0;
  }
  &.touch,
  &.hover {
    color: $colorB;
  }
  &.focus {
    color: $colorB2;
  }
  &.active {
    .fa-eye {
      opacity: 1;
    }
    .fa-eye-slash {
      opacity: 0;
    }
  }
}
.search {
  &__form {
    position: relative;
    width: 100%;
  }
  &__btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    color: $colorB;
    transition: $trs1;
    i {
      transform: translateY(0.15em);
      font-size: 18px;
    }
    &.touch,
    &.hover {
      color: $colorB2;
    }
  }
  .input input {
    padding-right: 40px;
    position: relative;
    z-index: 1;
  }
}
.tab-block {
  &__head {
    overflow: hidden;
    .button {
      padding: 0 25px;
    }
  }
}


.toggle-content {
  display: none;
  &.active {
    display: block;
  }
}

//checkboxes
.checkbox {
  position: relative;
  padding: 0 0 0 25px;
  display: block;
  cursor: pointer;
  transition: $trs1;
  min-height: 20px;
  font-size: 16px !important;
  line-height: 20px;
  user-select: none;
  color: $colorE;
  i {
    box-sizing: border-box;
    display: inline-block;
    line-height: 14px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid $colorH;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 2;
    font-size: 10px;
    transition: inherit;
    color: #1e0602;
    text-align: center;
    &:before {
      transform: scale(0);
      opacity: 0;
      transition: inherit;
      width: 10px;
      height: 10px;
      display: inline-block;
    }
  }
  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  &.checked {
    i {
      background-color: #dbeeff;
      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &.touch,
  &.hover {
    i {
      background-color: #f0f8ff;
    }
  }
  &.focus {
    i {
      transform: scale(1.05);
    }
  }
  &.disabled {
    color: $colorI;
    pointer-events: none;
    i {
      background-color: #f4f5f6;
    }
  }
}
//radio
.radio {
  position: relative;
  padding: 0 0 0 25px;
  display: block;
  cursor: pointer;
  transition: $trs1;
  user-select: none;
  line-height: 20px;
  color: $colorE;
  &:before {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $colorH;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 2px;
    transition: $trs1;
    z-index: 2;
  }
  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: $colorG;
    border-radius: 100%;
    position: absolute;
    z-index: 3;
    left: 5px;
    top: 7px;
    opacity: 0;
    transition: $trs1;
  }
  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  &.hover,
  &.touch {
    opacity: 0.75;
  }
  &.focus {
    opacity: 1;
  }
  &.checked {
    pointer-events: none;
    &:before {
      background-color: #dbeeff;
    }
    &:after {
      opacity: 1;
    }
  }
}
//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity $trs2;
  &.bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.loaded {
    opacity: 1;
    visibility: visible;
  }
}
//cover-box
.background-box {
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.05);
  .lazy {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.3);
  .lazy {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &_contain {
    background-color: transparent;
    .lazy {
      object-fit: contain;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    background-color: transparent;
    .lazy {
      object-fit: none;
      position: static;
      left: 0;
      top: 0;
      width:100%!important;
      height: auto!important;
      transform: translate(0);
    }
  }
}
.scroll-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  &.shadow {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 15px;
      width: 100%;
      left: 0;
      z-index: 2;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &_style1 {
      &:before {
        background: linear-gradient(to bottom, rgba(232,244,255,1) 0%, rgba(232,244,255,1) 2%, rgba(232,244,255,0.9) 25%, rgba(232,244,255,0.7) 51%, rgba(232,244,255,0.5) 76%, rgba(232,244,255,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(232,244,255,1) 0%, rgba(232,244,255,1) 2%, rgba(232,244,255,0.9) 25%, rgba(232,244,255,0.7) 51%, rgba(232,244,255,0.5) 76%, rgba(232,244,255,0) 100%);
      }
    }
    &_style2 {
      &:before {
        background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 2%, rgba(255,204,0,0.9) 25%, rgba(255,204,0,0.7) 51%, rgba(255,204,0,0.5) 76%, rgba(255,204,0,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 2%, rgba(255,204,0,0.9) 25%, rgba(255,204,0,0.7) 51%, rgba(255,204,0,0.5) 76%, rgba(255,204,0,0) 100%);
      }
    }
    &_style3 {
      &:before {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.5) 76%, rgba(255,255,255,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.5) 76%, rgba(255,255,255,0) 100%);
      }
    }
    &_style4 {
      &:before {
        background: linear-gradient(to bottom, rgba(248, 250, 252,1) 0%, rgba(248, 250, 252,1) 2%, rgba(248, 250, 252,0.9) 25%, rgba(248, 250, 252,0.7) 51%, rgba(248, 250, 252,0.5) 76%, rgba(248, 250, 252,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(248, 250, 252,1) 0%, rgba(248, 250, 252,1) 2%, rgba(248, 250, 252,0.9) 25%, rgba(248, 250, 252,0.7) 51%, rgba(248, 250, 252,0.5) 76%, rgba(248, 250, 252,0) 100%);
      }
    }
  }
  .scroll-content {
    position: relative;
    z-index: 1;
  }
  .scroll-child {
    overflow: hidden;
  }
  .scrollbar-track-x {
    display: none !important;
  }
  .scrollbar-track-y {
    width: 20px;
    height: 100%;
    z-index: 3;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      height: calc(100% - 30px);
      width: 10px;
      margin: 15px auto 15px auto;
      border-radius: 10px;
      background-color: rgba(0,0,0,0.05);
      position: relative;
      z-index: 1;
    }
  }
  .scrollbar-thumb {
    z-index: 2;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      height: calc(100% - 30px);
      width: 10px;
      margin: 15px auto 15px auto;
      border-radius: 10px;
      background-color: $colorB;
      position: relative;
      z-index: 1;
    }
  }
}
.kids-kategory {
  width: 600px;
  &-item {
    &__container {
      box-shadow: $shadow1;
      display: block;
      position: relative;
      border-radius: 8px;
      background-color: #fff;
      text-decoration: none;
      color: $colorB;
      will-change: color;
      will-change: transform;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      span {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        bottom: 5%;
        display: block;
      }
      .icon {
        position: absolute;
        width: 44%;
        height: 44%;
        top: 13%;
        left: 28%;
        transition: inherit;
        fill: $colorB;
      }
      &.touch,
      &.hover {
        color: #fff;
        background-color: $colorB;
        .icon {
          fill: #fff;
        }
      }
    }
  }
}
.s-banner {
  &__container {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    transition: $trs2;
    &:before {
      content: '';
      display: block;
      padding-top: 38%;
    }
    &.hover,
    &.touch {
      opacity: 0.8;
      box-shadow: $shadow11;
    }
  }
}
.socials {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__link {
    border-radius: 4px;
    background-color: #bfc0c3;
    display: block;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    color: #fff !important;
    transition: $trs1;
    &.hover,
    &.touch {
      background-color: $colorB2;
    }
    &.focus {
      background-color: $colorB3;
    }
  }
}
.breadcrumbs {
  padding: 18px 0 0 0;
  font-size: 14px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    color: $colorI;
    &:not(:last-child) {
      &:after {
        margin: 0 5px;
        content: "\f054";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 12px;
        color: $colorH;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $colorB2;
    border-bottom: 1px solid transparent;
    line-height: 1;
    display: inline-block;
    &.hover,
    &.touch {
      color: $colorB;
      border-bottom: 1px solid $colorB;
    }
  }
}
.slider .catalogue-card {
  height: 100%;
}
.pagination {
  max-width: 870px;
  margin: 0 auto;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid $colorB6;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    overflow: hidden;
  }
  &__item {
    flex: 1 1 100%;
    &:not(:last-child) {
      border-right: 1px solid $colorB6;
    }
  }
  &__link {
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    i {
      display: none;
    }
    &.modern-page-next,
    &.modern-page-previous {
      padding: 0 30px;
    }
    &.touch,
    &.hover,
    &.active {
      background-color: $colorB;
      color: #fff;
    }
    &.focus {
      background-color: $colorB2;
      color: #fff;
    }
    &.active {
      pointer-events: none;
    }
  }
}
.mailing {
  padding: 20px 0;
  background-color: $colorL;
  &__container {
    align-items: center;
  }
  &__text {
    display: flex;
    align-items: center;
    .bg {
      width: 60px;
      height: 64px;
      flex-shrink: 0;
      margin-right: 35px;
    }
  }
  &__title {
    font-weight: 900;
    font-family: $font2;
    text-transform: uppercase;
    line-height: 1.1;
    color: #000;
    font-size: 28px;
  }
  .s-item-form {
    width: 370px;
  }
}
.s-item-form {
  &__container {
    display: flex;
    align-items: center;
  }
  .input {
    flex: 1 1 100%;
    input {
      border-radius: 4px 0 0 4px;
    }
  }
  .button {
    border-radius: 0 4px 4px 0;
    flex-shrink: 0;
  }
}
.calc-count-block {
  display: flex;
  width: 100%;
  text-align: center;
  .input {
    flex: 1 1 100%;
    input {
      border-radius: 0;
      line-height: 43px;
      padding: 0;
      text-align: center;
    }
  }
  &__btn {
    display: block;
    line-height: 43px;
    text-decoration: none;
    font-size: 24px;
    background-color: $colorK;
    border-color: $colorH;
    border-style: solid;
    height: 45px;
    flex: 1 1 100%;
    &:first-child {
      border-radius: 4px 0 0 4px;
      border-width: 1px 0 1px 1px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
      border-width: 1px 1px 1px 0;

    }
    &.touch,
    &.hover {
      background-color: $colorH;
    }
    &.focus {
      background-color: $colorB8;
    }
    &.disabled {
      pointer-events: none;
      color: $colorH;
      background-color: $colorK;
    }
  }
}
.order-f-block {
  border-radius: 8px;
  background-color: #ecf5fc;
  padding: 15px 20px;
  &__section {
    &:last-child {
      display: flex;
      align-items: center;
      max-width: 580px;
    }
  }
  .button {
    padding: 0 20px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
  }
}
//flatpickr
.flatpickr-day.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day.nextMonthDay:focus, .flatpickr-day.nextMonthDay:hover, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.today.inRange, .flatpickr-day:focus, .flatpickr-day:hover, .flatpickr-day.today:focus, .flatpickr-day.today:hover {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover {
  color: $colorI;
  pointer-events: none;
}
.flatpickr {
  &-innerContainer {
    padding: 0 5px 5px 10px;
  }
  &-months {
    margin: 0;
    padding: 10px;
    width: 260px;
    .flatpickr-month {
      height: auto;
      flex: 1 1 100%;
      display: flex;
    }
    .flatpickr-current-month {
      position: relative;
      height: auto;
      left: 0;
      padding: 0;
      font-size: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      .numInputWrapper {
        width: 55px;
        padding: 0 10px;
        border-radius: 4px;
        margin-left: 10px;
        span {
          opacity: 1;
          width: 10px;
          height: 10px;
          border: 0;
          padding: 0;
          line-height: 15px;
          right: 5px;
          display: none;
        }
        .arrowUp {
          top: 4px;
        }
        .arrowDown {
          bottom: 6px;
          top: auto;
        }
        &:hover {
          background-color: transparent;
        }
        &.touch,
        &.hover {
          background-color: $colorB;
          color: #fff;
        }
        input.cur-year {
          padding: 0;
          line-height: 30px;
          width: 100%;
        }
      }
      .flatpickr-monthDropdown-months {
        transform: translateY(-1px);
        padding: 0 10px;
        border-radius: 4px;
        transition: $trs1;
        margin: 0;
        &:hover {
          background-color: transparent;
        }
        &.hover,
        &.touch {
          background-color: $colorB;
          color: #fff;
        }
      }
    }
    .flatpickr-prev-month,
    .flatpickr-next-month {
      position: relative;
      width: 30px;
      height: 30px;
      padding: 0;
      flex-shrink: 0;
      color: #000;
      border-radius: 4px;
      svg {
        display: none;
      }
      &:hover {
        color: #000;
      }
      &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 12px;
        pointer-events: none;
      }
      &.flatpickr-disabled {
        display: block;
        pointer-events: none;
        color: $colorI;
      }
      &.hover,
      &.touch {
        color: #fff;
        background-color: $colorB;
      }
      &.focus {
        color: #fff;
        background-color: $colorB2;
      }
    }
    .flatpickr-next-month {
      &:before {
        content: "\f054";
      }
    }
    .flatpickr-prev-month {
      &:before {
        content: "\f053";
      }
    }
  }
  &-calendar {
    box-shadow: $shadow1;
    border-radius: 8px;
    width: auto;
    span.flatpickr-weekday {
      margin-right: 5px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &-weekdays {
    height: auto;
    margin: 0 0 15px 0;
    width: 245px;
    user-select: none;
  }
  &-days {
    width: 245px;
    .dayContainer {
      min-width: 1px;
      max-width: 100%;
      width: 100%;
      justify-content: flex-start;
    }
  }
  &-day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: none;
    transition: $trs1;
    color: #000;
    user-select: none;
    &.selected {
      background-color: $colorB;
      color: #fff;
      pointer-events: none;
    }
    &.touch,
    &.hover {
      background-color: $colorB !important;
      color: #fff !important;
    }
  }
}
.flatpickr-time {
  border-top: none !important;
  padding: 5px;
  max-height: 1000px;
  display: flex;
  align-items: center;
  .flatpickr-time-separator {
    width: auto;
  }
  input {
    width: 40px;
    height: 30px;
    background: transparent !important;
    order: 2;
  }
  .numInputWrapper {
    background: transparent !important;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    span {
      opacity: 1;
      width: 40px;
      height: 30px;
      position: relative;
      flex-shrink: 0;
      color: #000;
      padding: 0;
      border: none;
      transition: $trs1;
      border-radius: 4px;
      &:after {
        border: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 12px;
        pointer-events: none;
      }
      &:hover {
        background-color: transparent;
      }
      &.hover,
      &.touch {
        color: #fff;
        background-color: $colorB;
      }
      &.focus {
        color: #fff;
        background-color: $colorB2;
      }
    }
    .arrowUp {
      order: 1;
      &:after {
        content: '\f077';
      }
    }
    .arrowDown {
      order: 3;
      top: auto;
      &:after {
        content: '\f078';
      }
    }
  }
}

.tab-item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  &.active {
    transition: opacity $trs1;
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}
.dlvr-block {
  .scroll-container {
    height: 330px;
    margin: -15px 0;
  }
  .scrollbar-track-y {
    right: -6px;
  }
  .scroll-child {
    padding: 15px 14px 15px 0;
  }
  .map {
    background-color: #fff;
    position: relative;
    background: rgba(0,0,0,.2);
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    &__item {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
.cart-list {
  .s-item-form {
    width: 100%;
    max-width: 360px;
  }
  &__head {
    border-radius: 8px 8px 0 0;
    background-color: $colorF;
    display: flex;
    padding: 0 40px 0 10px;
    span {
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: $colorE;
      font-weight: 700;
      &:first-child {
        flex: 1 0 90px;
        text-align: center;
        margin-right: 10px;
      }
      &:nth-child(2) {
        flex: 1 1 100%;
        text-align: left;
      }
      &:nth-child(3) {
        flex: 1 0 130px;
        text-align: center;
      }
      &:nth-child(4) {
        flex: 1 0 130px;
        text-align: center;
        margin-left: 25px;
      }
      &:nth-child(5) {
        flex: 1 0 130px;
        text-align: center;
      }
    }
  }
  &__bottom {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border: 1px solid #000;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $colorB6;
    padding: 15px;
    background-color: $colorF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    border-color: $colorB6;
    border-width: 0 1px 0 1px;
    border-style: solid;
  }
  &-block {
    padding: 10px 40px 10px 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid $colorB6;
    position: relative;
    &__title {
      display: none;
    }
    &__del {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: $colorM;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      &.hover, 
      &.touch {
        color: #000;
      }
      &.focus {
        transform: translateY(-50%) scale(0.9);
      }
    }
  }
  &-photo {
    flex: 0 0 90px;
    margin-right: 10px;
    &__image {
      width: 90px;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      &.touch,
      &.hover {
        opacity: 0.7;
      }
    }
  }
  &-text {
    flex: 1 1 90%;
  }
  &-count {
    flex: 0 0 130px;
  }
  &-discount {
    flex: 0 0 130px;
    text-align: center;
    font-weight: bold;
    margin-left: 25px;
    &__item {
      line-height: 23px;
    }
  }
  &-price {
    flex: 1 0 130px;
    text-align: center;
    .old {
      color: $colorD;
      text-decoration: line-through;
      display: block;
    }
    .current {
      display: block;
      font-weight: bold;
      line-height: 1;
    }
  }
}
.price-total-table {
  table {
    font-weight: normal;
    text-align: left;
    tr {
      &:not(:last-child) {
        th {
          padding-bottom: 5px;
        }
      }
    }
    th {
      font-weight: normal;
      line-height: 1;
      vertical-align: bottom;
      line-height: 20px;
      &:first-child {
        text-transform: uppercase;
        padding-right: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:last-child {
        white-space: nowrap;
      }
    }
  }
  &__price {
    line-height: 0.9 !important;
    font-size: 36px;
  }
}
.profile {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $shadow1;
  padding: 10px;
  &__bonus-b {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    background-color: $colorO;
    padding: 20px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    strong {
      white-space: nowrap;
      margin: 0 3px;
    }
    i {
      color: $colorI;
      transition: $trs2;
      &.touch,
      &.hover {
        color: $colorB;
      }
    }
  }
  &-form {
    padding: 20px;
    &__title {
      margin-bottom: 15px;
    }
    &__item {
      display: flex;
      .input-label {
        flex: 0 0 200px;
        color: $colorE;
        font-weight: bold;
        line-height: 20px;
      }
      .input {
        flex: 1 1 auto;
        min-width: 180px;
      }
    }
  }
}
.orders {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $shadow1;
  padding: 30px;
  .button {
    max-width: 240px;
  }
  &-item {
    border: 1px solid $colorB6;
    border-radius: 4px;
    &__head {
      background-color: $colorN;
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
    }
    &__date {
      color: $colorI;
    }
    &__title {
      color: $colorB;
      font-size: 15px;
      text-transform: uppercase;
      margin-right: 30px;
      line-height: 20px;
    }
    &__left {
      display: flex;
      align-items: center;
    }
    &__content {
      background-color: #fff;
      padding: 20px;
    }
    &__r-list {
      white-space: nowrap;
      min-width: 260px;
      ul {
        list-style: none;
        margin: 0;
        padding: 15px;
        border-radius: 4px;
        background-color: $colorN;
      }
      li {
        line-height: 20px;
      }
    }
    &__l-list {
      margin: 10px 0 0 0;
      ul {
        counter-reset: item;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        &:before {
          content: counter(item) '. ';
          counter-increment: item;
          font-weight: bold;
        }
      }
      
    }
  }
}
.order-label {
  display: inline-block;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  &_style1 {
    border-color: $colorD;
    color: $colorD;
    background-color: #fff;
  }
  &_style2 {
    border-color: $colorA;
    color: #000;
    background-color: $colorA;
  }
  &_style3 {
    border-color: $colorC;
    color: #000;
    background-color: $colorC;
  }
}

.popup {
  display: none;
  width: 100%;
  max-width: 400px;
  .fancybox-close-small {
    position: absolute;
    right: 0;
    top: 0;
  }
  .button {
    width: 100%;
  }
  .socials {
    &__list {
      justify-content: center;
    }
  }
  &__title {
    border-bottom: 1px solid $colorI;
    padding-bottom: 7px;
  }
}
.message-popup {
  max-width: 500px;
  width: auto;
  padding: 40px 20px 20px 20px;
  &__title {
    i {
      color: $colorC;
      margin-right: 15px;
    }
  }
  &__image {
    width: 90px;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &.touch,
    &.hover {
      opacity: 0.7;
    }
  }
}


.stock-block-p {
  background-color: #fff;
  box-shadow: $shadow1;
  border-radius: 8px;
  overflow: hidden;
  &__title {
    font-size: 24px;
    display: inline-block;
  }
  &__content {
    padding: 20px;
  }
  &__image {
    display: block;
    &::before {
      content: '';
      display: block;
      padding-top: 37%;
    }
  }
}


@media all and(max-width: 1024px) {
  .stock-block-p {
    &__image {
      &::before {
        padding-top: 50%;
      }
    }
  }
  .kids-kategory {
    width: auto;
  }
  .pagination {
    &__link {
      &.modern-page-next,
      &.modern-page-previous {
        padding: 0 !important;
        span {
          display: none;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
  .cart-list {
    &__head  {
      span:nth-child(4) {
        margin: 0;
      }
    }
    &-discount {
      margin: 0;
    }
  }
  .profile-form__item {
    display: block;
    .input-label {
      margin: 0 0 5px 0;
      display: block;
      height: auto;
    }
  }
  .orders-item {
    &__head {
      display: block;
    }
    &__left {
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
@media all and(max-width: 768px) {
  .scroll-container {
    .scrollbar-track-y {
      &:after {
        width: 8px;
        border-radius: 8px;
      }
    }
    .scrollbar-thumb {
      &:after {
        width: 8px;
        border-radius: 8px;
      }
    }
  }
  .mailing {
    &__title {
      font-size: 24px;
    }
  }
  .dlvr-block__map {
    .map {
      margin-top: 0;
    }
  }
  .cart-list {
    .s-item-form {
      max-width: 500px;
      margin-bottom: 15px;
    }
    &-block {
      flex-wrap: wrap;
      padding: 15px;
      &__del {
        top: 0;
        transform: translateY(0) !important;
      }
      &__item {
        flex: 1 1 auto;
      }
    }
    &__head {
      display: none;
    }
    &__bottom {
      flex-direction: column;
    }
    &__container {
      border-width: 1px 1px 0 1px;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
    }
    &-text {
      width: calc(100% - 100px);
      padding-right: 40px;
    }
    &-photo {
      margin-bottom: 15px;
    }
    &-count {
      max-width: 140px;
    }
    &-discount {
      padding: 0 10px;
      &__item {
        display: none;
        &.color-red {
          display: block;
        }
      }
    }
    &-price {
      text-align: right;
      max-width: 130px;
    }
  }
  .orders-item {
    &__l-list {
      margin: 0;
    }
  }
}
@media all and(max-width: 576px) {
  .mailing {
    .s-item-form {
      width: 100%;
    }
    &__text .bg {
      margin-right: 20px;
    }
    &__title {
      font-size: 18px;
    }
  }
  .tab-block {
    &__head .button {
      padding: 0 15px;
    }
  }
  .cart-list {
    &-photo {
      margin-bottom: 0;
    }
    &-count {
      max-width: 100%;
      flex: 1 1 100%;
      margin: 15px 0;
    }
    &-discount {
      padding: 0;
      text-align: left;
    }
    &-price {
      max-width: 100%;
      flex: 1 1 50%;
    }
  }
  .price-total-table {
    table {
      th {
        &:first-child {
          padding-right: 15px;
          font-size: 14px;
        }
      }
    }
    &__price {
      font-size: 28px;
    }
  }
  .order-f-block {
    padding-bottom: 20px;
    .price-total-table {
      table {
        margin: 0 auto;
      }
    }
    &__section {
      flex-direction: column;
      text-align: center;
      .button {
        margin: 15px 0 0 0;
        order: 2;
      }
    }
  }
  .profile-form {
    padding: 10px;
  }
  .orders {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    .button {
      width: 100%;
      max-width: 100%;
    }
  }
  .orders-item {
    box-shadow: $shadow1;
    border-radius: 8px;
    overflow: hidden;
    &__left {
      display: block;
    }
    &__r-list {
      min-width: 0px;
      width: 100%;
    }
    &__title {
      display: block;
      margin: 0 0 10px 0;
    }
  }
  .profile {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    &__bonus-b {
      border: 1px solid #000;
      //box-shadow: $shadow1;
      border: 1px solid $colorB6;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 14px;
      strong {
        font-size: 16px;
      }
    }
    &-form {
      padding: 0;
    }
  }
  .pagination {
    &__link {
      line-height: 40px;
    }
  }
  .popup {
    padding: 40px 20px;
  }
  .message-popup {
    padding: 40px 20px 20px 20px;
  }
}
