.icon {
  fill: #5ba4e4;
  stroke: #5ba4e4;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  transition: inherit;
}

.js-animated {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: $trs1;
}

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  transition: $trs1;
  position: relative;
  * {
    pointer-events: none;
  }
  &_style1 {
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    i {
      font-size: 16px;
      line-height: 50px;
      transition: transform $trs2;
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
    &.type1 {
      background-color: $colorB;
      color: #fff;
      display: flex;
      justify-content: space-between;
      &.touch,
      &.hover {
        background-color: $colorB2;
      }
      &.focus {
        background-color: $colorB3;
      }
      &.active {
        i {
          transform: translateY(-3%) rotate(180deg);
        }
      }
    }
    &.type2 {
      background-color: $colorA;
      text-align: center;
      &.touch,
      &.hover {
        background-color: $colorA2;
      }
      &.focus {
        background-color: $colorA3;
      }
    }
    &.type3 {
      background-color: $colorD;
      color: #fff;
      display: flex;
      justify-content: space-between;
      &.touch,
      &.hover {
        background-color: $colorD2;
      }
      &.focus {
        background-color: $colorD3;
      }
    }
  }
  &_style2 {
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: $colorA;
    &.touch,
    &.hover {
      background-color: $colorA2;
    }
    &.focus {
      background-color: $colorA3;
    }
  }
}

a {
  color: inherit;
}
.link {
  text-decoration: none;
  &.touch,
  &.hover {
    color: $colorB;
  }
}

.input {
  display: inline-block;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  transition: $trs1;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &::placeholder {
    transition: $trs1;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
  &_style1 {
    border-radius: 4px;
    border: 1px solid $colorH;
    line-height: 38px;
    padding: 0 15px;
    &::placeholder {
      color: $colorI;
    }
  }
}

//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity $trs2;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
//cover-box
.background-box {
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.05);
  .lazy {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.3);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
  &_size-auto {
    display: flex;
    align-items: center;
    background-color: transparent;
    .lazy {
      position: static;
      left: 0;
      top: 0;
      width:100%!important;
      height: auto!important;
      transform: translate(0);
    }
  }
}
.scroll-container {
  overflow: hidden;
  position: relative;
  display: flex !important;
  width: 100%;
  &.shadow {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 15px;
      width: 100%;
      left: 0;
      z-index: 2;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &_style1 {
      &:before {
        background: linear-gradient(to bottom, rgba(232,244,255,1) 0%, rgba(232,244,255,1) 2%, rgba(232,244,255,0.9) 25%, rgba(232,244,255,0.7) 51%, rgba(232,244,255,0.5) 76%, rgba(232,244,255,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(232,244,255,1) 0%, rgba(232,244,255,1) 2%, rgba(232,244,255,0.9) 25%, rgba(232,244,255,0.7) 51%, rgba(232,244,255,0.5) 76%, rgba(232,244,255,0) 100%);
      }
    }
    &_style2 {
      &:before {
        background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 2%, rgba(255,204,0,0.9) 25%, rgba(255,204,0,0.7) 51%, rgba(255,204,0,0.5) 76%, rgba(255,204,0,0) 100%);
      }
      &:after {
        background: linear-gradient(to top, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 2%, rgba(255,204,0,0.9) 25%, rgba(255,204,0,0.7) 51%, rgba(255,204,0,0.5) 76%, rgba(255,204,0,0) 100%);
      }
    }
  }
  .scroll-content {
    position: relative;
    z-index: 1;
    flex: 1 1 100%;
  }
  .scrollbar-track-x {
    display: none !important;
  }
  .scrollbar-track-y {
    width: 20px;
    flex-shrink: 0;
    height: auto;
    z-index: 3;
    background-color: transparent;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: calc(100% - 30px);
      width: 10px;
      margin: 15px auto 15px auto;
      border-radius: 10px;
      background-color: rgba(0,0,0,0.05);
      position: relative;
      z-index: 1;
    }
  }
  .scrollbar-thumb {
    z-index: 2;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      height: calc(100% - 30px);
      width: 10px;
      margin: 15px auto 15px auto;
      border-radius: 10px;
      background-color: $colorB;
      position: relative;
      z-index: 1;
    }
  }
}
.kids-kategory {
  width: 600px;
  &-item {
    &__container {
      box-shadow: $shadow1;
      display: block;
      position: relative;
      border-radius: 8px;
      background-color: #fff;
      text-decoration: none;
      color: $colorB;
      will-change: color;
      will-change: transform;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      span {
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        bottom: 5%;
        display: block;
      }
      .icon {
        position: absolute;
        width: 44%;
        height: 44%;
        top: 13%;
        left: 28%;
        transition: inherit;
      }
      &.touch,
      &.hover {
        color: $colorB2;
        opacity: 0.6;
        .icon {
          fill: $colorB2;
        }
      }
    }
  }
}
.s-banner {
  &__container {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    transition: $trs2;
    &:before {
      content: '';
      display: block;
      padding-top: 38%;
    }
    &.hover,
    &.touch {
      opacity: 0.7;
    }
  }
}
.socials {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__link {
    border-radius: 4px;
    background-color: #bfc0c3;
    display: block;
    line-height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    &.hover,
    &.touch {
      background-color: $colorB2;
    }
    &.focus {
      background-color: $colorB3;
    }
  }
}

.catalogue-card {
  &__container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $shadow1;
    transition: box-shadow $trs2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    &.hover,
    &.touch {
      box-shadow: $shadow11;
    }
  }
  &__image {
    height: 230px;
    flex-shrink: 0;
    position: relative;
    .cover-box {
      transition: $trs2;
      height: 100%;
      .lazy {
        padding: 20px;
      }
      &.touch,
      &.hover {
        opacity: 0.7;
      }
    }
  }
  &__labels {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
  }
  &__label {
    display: inline-block;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.style1 {
      background-color: $colorC;
    }
    &.style2 {
      background-color: $colorD;
    }
    &.style3 {
      background-color: $colorB;
    }
  }
  &__discount {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    .icon {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      fill: $colorD;
    }
    span {
      position: relative;
      z-index: 2;
      letter-spacing: 0;
    }
  }
  &__video {
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    transition: $trs1;
    .icon {
      transition: inherit;
      fill: $colorI;
      width: 24px;
      height: 18px;
    }
    &.touch,
    &.hover {
      .icon {
        fill: $colorB;
      }
    }
  }
  &__content {
    padding: 10px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    margin-bottom: 20px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .old {
      font-size: 14px;
      color: $colorD;
      text-decoration: line-through;
      line-height: 1;
    }
    .current {
      font-weight: 700;
      font-size: 22px;
    }
  }
  &__title {
    display: block;
    transition: $trs1;
    text-decoration: none;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    &.hover,
    &.touch {
      &.touch,
      &.hover {
        color: $colorB;
      }
      &.focus {
        color: $colorB2;
      }
    }
  }
  &__art {
    font-size: 14px;
    color: $colorE;
  }
}
.slider .catalogue-card {
  height: 100%;
}


@media all and(max-width: 1024px) {
  .kids-kategory {
    width: auto;
  }
}
@media all and(max-width: 768px) {
  .scroll-container {
    .scrollbar-track-y {
      &:after {
        width: 8px;
        border-radius: 8px;
      }
    }
    .scrollbar-thumb {
      &:after {
        width: 8px;
        border-radius: 8px;
      }
    }
  }
}
@media all and(max-width: 576px) {
  .button {
    &_style1 {
      line-height: 45px;
      height: 45px;
      i {
        line-height: 45px;
      }
    }
  }
}
