@import "./partials/normalize";
@import "./partials/fonts";

//color 
$colorA: #ffcc00;
$colorA2: #ffdd55;
$colorA3: #ffe789;
$colorK: #dbeeff;
$colorB: #5ba4e4;
$colorB2: #3087d3;
$colorB3: #2378c2;
$colorB4: #e8f4ff;
$colorB5: #f9fcff;
$colorB6: #e3e8ea;
$colorB7: #cdd4d7;
$colorB8: #c5cbce; 
$colorC: #87cf00;
$colorD: #f24d54;
$colorD2: #db363d;
$colorD3: #c5272f;
$colorE: #6e7074;
$colorF: #edf0f2;
$colorG: #293545;
$colorG2: #425b80;
$colorH: #d7dde0; 
$colorI: #a6a6a6;
$colorJ: #4b4b4b;
$colorK: #f4f5f6;
$colorL: #dbeeff;


//transition
$trs1: .1s ease-out;
$trs2: .3s ease-out;
//fonts
$font1: 'Roboto';
$font2: 'CirceRounded';

$shadow1: 0px 0px 10px 0px rgba(91, 164, 228,0.15);
$shadow11: 0px 0px 14px 0px rgba(91, 164, 228,0.40);

body {
  font-family: $font1;
  font-size: 16px;
  min-width: 320px;
  line-height: 1;
  color: $colorG;
  background-color: #f8fafc;
  &.fixed {
    overflow: hidden;
  }
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
  position: relative;
}

//grid
@import "./partials/custom-grid";

.page-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page-container {
  flex: 1 1 100%;
}
.page-content {
  padding: 30px 0 60px 0;
}
.section {
  &:not(:last-child) {
    margin: 0 0 45px 0;
  }
  &__title {
    font-weight: bold;
  }
  &__head {
    margin-bottom: 20px;
  }
}

@media all and(max-width: 1210px) {
  
}
@media all and(max-width: 1024px) {
  
}
@media all and(max-width: 768px) {
  
}
@media all and(max-width: 576px) {
  .page-content {
    padding: 20px 0 40px 0;
  }
}

@import '../../node_modules/flatpickr/dist/flatpickr.css';
@import '../../node_modules//slick-carousel/slick/slick.scss';
@import "./partials/text";
@import "./partials/ui";
@import "./partials/slider";
@import "./partials/header";
@import "./partials/ctlg";
@import "./partials/filter";
@import "./partials/footer";
@import "./partials/nav";


