extends layout/layout
block content
  include blocks/breadcrumbs
  .page-content
    .container
      main.main
        section.section
          .section__head
            h5.section__title.t-size-30 Ваша корзина
          .section__content
            .cart-list
              .cart-list__head
                span Фото
                span Наименование
                span Количество
                span Скидка
                span Сумма
              .cart-list__container
                .cart-list-block
                  //item
                  .cart-list-block__item.cart-list-photo
                    a(href="#").cart-list-photo__image.cover-box.cover-box_contain.js-animated
                      img(data-src="img/Layer 1187 copy.png" alt="img").lazy
                  //item
                  .cart-list-block__item.cart-list-text
                    a(href="#").cart-list-text__title.link.link_style2.js-animated L.O.L. Surprise 559658 Гламурная
                    br
                    span.color-gray2 Код товара  
                      strong 559658
                  //item
                  .cart-list-block__item.cart-list-count
                    .calc-count-block
                      a(href="javascript:void(0)").calc-count-block__btn.js-animated.js-minus –
                      .input.bordered
                        input(type="text" value='1')
                      a(href="javascript:void(0)").calc-count-block__btn.js-animated.js-plus +
                  //item
                  .cart-list-block__item.cart-list-discount
                    span.cart-list-discount__item.color-red промокод<br> - 7,5%
                    //span.cart-list-discount__item –
                  //item
                  .cart-list-block__item.cart-list-price
                    .cart-list-price__container 
                      span.old 12 699 ₽
                      span.current.t-size-22 10 999 ₽
                  //delete
                  a(href="javascript:void(0)" data-tippy-content='Удалить товар').cart-list-block__del.js-animated
                    i.far.fa-window-close
                .cart-list-block
                  //item
                  .cart-list-block__item.cart-list-photo
                    a(href="#").cart-list-photo__image.cover-box.cover-box_contain.js-animated
                      img(data-src="img/Layer 348.png" alt="img").lazy
                  //item
                  .cart-list-block__item.cart-list-text
                    a(href="#").cart-list-text__title.link.link_style2.js-animated L.O.L. Surprise 559658 Гламурная
                    br
                    span.color-gray2 Код товара  
                      strong 559658
                  //item
                  .cart-list-block__item.cart-list-count
                    .calc-count-block
                      a(href="javascript:void(0)").calc-count-block__btn.js-animated.js-minus –
                      .input.bordered
                        input(type="text" value='1')
                      a(href="javascript:void(0)").calc-count-block__btn.js-animated.js-plus +
                  //item
                  .cart-list-block__item.cart-list-discount
                    span.cart-list-discount__item –
                  //item
                  .cart-list-block__item.cart-list-price
                    .cart-list-price__container
                      span.current.t-size-22 10 999 ₽
                  //delete
                  a(href="javascript:void(0)" data-tippy-content='Удалить товар').cart-list-block__del.js-animated
                    i.far.fa-window-close
              .cart-list__bottom
                form(action="#").s-item-form
                  .s-item-form__container
                    .input
                      input(type="text" placeholder="Введите промокод" requied).ttu
                    button.button.button_style2.color2.js-animated Применить
                .price-total-table
                  table
                    tr.color-gray2
                      th Сумма заказа:
                      th.t-size-20 30 999 ₽
                    tr.color-gray2
                      th Скидка:
                      th.t-size-20 - 4 999 ₽
                    tr.color-black
                      th.fwb Итого:
                      th.fwb.price-total-table__price 30 999 ₽

        section.section
          .section__head
            h5.section__title.t-size-30 Контактные данные
          .section__content
            .row.row_b-compact
              .col-xl-4.col-md-6.col-12
                .input.bordered.mb-10
                  input(type="text" placeholder="Имя")
                .input.bordered.mb-10
                  input(type="text" placeholder="Фамилия")
              .col-xl-4.col-md-6.col-12
                .input.bordered.mb-10
                  input(type="text" placeholder="Телефон").masked
                .input.bordered.mb-10
                  input(type="email" placeholder="E-mail")
              .col-xl-4.col-md-12
                .input.bordered.mb-10
                  textarea(placeholder="Комментарий к заказу")
        section.section
          .section__head
            h5.section__title.t-size-30 Доставка
          .section__content.tab-block
            .tab-block__head.mb-25
              .row.row_compact
                .col-xl-auto.col
                  label(data-tab='0').button.button_style3.js-animated.ttu.tab-trigger КУРЬЕРОМ
                    input(type="radio" name='delivery')
                .col-xl-auto.col
                  label(data-tab='1').button.button_style3.js-animated.ttu.tab-trigger самовывоз
                    input(type="radio" name='delivery')
            .tab-block__content
              .tab-item
                .row.row_b-compact
                  .col-xl-4.col-md-6.col-12
                    .input.bordered.mb-10
                      input(type="text" placeholder="Город")
                    .input.bordered.mb-10.js-picker-date
                      input(type="text" placeholder="Дата доставки")
                      i.far.fa-calendar-alt
                  .col-xl-4.col-md-6.col-12
                    .input.bordered.mb-10
                      input(type="text" placeholder="Улица")
                    .input.bordered.mb-10.js-picker-time
                      input(type="text" placeholder="Время доставки")
                      i.far.fa-clock
                  .col-xl-4.col-md-12
                    .row.row_compact
                      .col-xl-4
                        .input.bordered
                          input(type="text" placeholder="Дом")
                      .col-xl-4
                        .input.bordered
                          input(type="text" placeholder="Корпус")
                      .col-xl-4
                        .input.bordered
                          input(type="text" placeholder="Квартира")
                      .col-xl-12
                        span.fwb.color-black Стоимость доставки: уточнит менеджер
              .tab-item
                .dlvr-block
                  .row
                    .dlvr-block__items.col-xl-6.col-md-12
                      .scroll-container.shadow.shadow_style4
                        .scroll-child
                          label.radio.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Постамат: Маршала Савицкого ул., д. 12
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.js-animated.mb-15
                            | Постамат: Маршала Савицкого ул., д. 12
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Постамат: Маршала Савицкого ул., д. 12
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Постамат: Маршала Савицкого ул., д. 12
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Постамат: Маршала Савицкого ул., д. 12
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                          label.radio.mb-15.js-animated.mb-15
                            | Пункт самовывоза: 41 км МКАД ТК Славянский мир Стр. Б19/1
                            input(type="radio" name='2')
                    .dlvr-block__map.col-xl-6.col-md-12
                      .map
                        <iframe class="map__item" src="https://yandex.ru/map-widget/v1/-/CKQJnM~x" frameborder="1" allowfullscreen="true"></iframe>
        section.section
          .section__head
            h5.section__title.t-size-30 Оплата
          .section__content
            label.radio.js-animated.mb-15
              | Наличными при получении
              input(type="radio" name='1')
            label.radio.js-animated.mb-15
              | Картой при получении
              input(type="radio" name='1')
        section.section
          .section__head
            h5.section__title.t-size-30 Подтверждение закза
          .section__content
            .order-f-block
              .row.row_jc-sb
                .price-total-table.col-xl-auto.col-md-12
                  table.color-black
                    tr
                      th.t-a-left Товары 2
                      th.t-size-20 30 999 ₽
                    tr
                      th.t-a-left Доставка
                      th.t-size-20 Самовывоз
                    tr
                      th.fwb.t-a-left Всего к оплате:
                      th.fwb.price-total-table__price 30 999 ₽
                .order-f-block__section.col-xl.col-md-12
                  button.button.button_style2.color1.size2.js-animated ОФОРМИТЬ ЗАКАЗ
                  span.color-gray1.order-f-block__agreement.t-size-14 Согласен с условиями 
                    a(href="#").js-animated договора купли-продажи 
                    | и на обработку 
                    a(href="#").js-animated персональных данных
