extends layout/layout
block content
  include blocks/breadcrumbs
  .page-content
    .container
      main.main
        section.section
          .section__head
            h5.section__title.t-size-30 Ваша корзина
          .section__content
            .message.message_alert.mb-20 В корзине пока нет товаров.