extends layout/layout
block content
  .page-content
    .container
      main.main
        section.section
          .row
            .col-xl-12
              include blocks/banner
            .col-xl-auto.col-md-12
              include blocks/kids-kategory
            .col-xl.col-md-12
              include blocks/brands-slider1
            .col-xl-12
              include blocks/s-banners
            .col-xl-12
              include blocks/s-categories-slider
        include blocks/ctlg-cards
        section.section
          .section__head
            h5.section__title.t-size-30 Новинки
          .section__content
            .slider.slider_default.arrows.ctlg-slider
              .slide
                +card1()
              .slide
                +card2()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
        section.section
          .section__head
            h5.section__title.t-size-30 Хиты  продаж
          .section__content
            .slider.slider_default.arrows.ctlg-slider
              .slide
                +card1()
              .slide
                +card2()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
        section.section
          .section__head
            h5.section__title.t-size-30 Лучшая  цена
          .section__content
            .slider.slider_default.arrows.ctlg-slider
              .slide
                +card1()
              .slide
                +card2()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
              .slide
                +card1()
        section.section
          .section__head
            h5.section__title.t-size-30 Бренды
          .section__content
            include blocks/brands-slider2