extends layout/layout
block content
  include blocks/breadcrumbs
  .page-content
    .container
      main.main
        section.section
          .section__head
            h1.section__title.t-size-30 Акции
          .section__content
            .stock-block-p.mb-30
              a(href="#").stock-block-p__image.background-box
                .lazy(data-src='img/Layer 310.jpg')
              .stock-block-p__content
                a(href="#").stock-block-p__title.link.link_style2.mb-10 Заголовок акции
                p.stock-block-p__text Aute culpa sit amet laboris aliqua fugiat cillum irure Lorem aliqua duis in.
            .stock-block-p.mb-30
              a(href="#").stock-block-p__image.background-box
                .lazy(data-src='img/Layer 310.jpg')
              .stock-block-p__content
                a(href="#").stock-block-p__title.link.link_style2.mb-10 Заголовок акции
                p.stock-block-p__text Aute culpa sit amet laboris aliqua fugiat cillum irure Lorem aliqua duis in.