.banner
  .slider.banner-slider.dots.arrows
    a(href="#").slide.banner-slider__slide.background-box
      .lazy(data-src='img/Layer 310.jpg')
    a(href="#").slide.banner-slider__slide.background-box
      .lazy(data-src='img/Layer 310.jpg')
    a(href="#").slide.banner-slider__slide.background-box
      .lazy(data-src='img/Layer 310.jpg')
    a(href="#").slide.banner-slider__slide.background-box
      .lazy(data-src='img/Layer 310.jpg')
    a(href="#").slide.banner-slider__slide.background-box
      .lazy(data-src='img/Layer 310.jpg')