mixin slide()
  .slide.brands-slider__slide
    a(href="#").brands-slider__item.cover-box.cover-box_contain.js-animated
      img.lazy(alt="brand")&attributes(attributes)
.brands-slider.size1
  .slider.slider_default.arrows
    +slide()(data-src='img/Layer 323 copy 2.png')
    +slide()(data-src='img/Layer 324 copy 2.png')
    +slide()(data-src='img/Layer 325 copy 2.png')
    +slide()(data-src='img/Layer 326 copy 2.png')
    +slide()(data-src='img/Layer 323 copy 2.png')
    +slide()(data-src='img/Layer 325 copy 2.png')
    +slide()(data-src='img/Layer 326 copy 2.png')
    +slide()(data-src='img/Layer 323 copy 2.png')
    +slide()(data-src='img/Layer 325 copy 2.png')

