.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="#").breadcrumbs__link.js-animated Главная
      li.breadcrumbs__item
        a(href="#").breadcrumbs__link.js-animated Каталог игрушек
      li.breadcrumbs__item Куклы LOL