mixin slide1()
  .catalogue-card
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 347.png", alt="").lazy
        .catalogue-card__labels
          span.catalogue-card__label.style1 новинка
          span.catalogue-card__label.style2 АКЦИЯ
          //span.catalogue-card__label.style3 Хит
        .catalogue-card__discount
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 559658 Гламурная
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom
          .catalogue-card__price
            span.old 12 699 ₽
            span.current 10 999 ₽
          button.button.button_style2.js-animated В корзину
mixin slide2()
  .catalogue-card
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 348.png", alt="").lazy
        .catalogue-card__labels
          //span.catalogue-card__label.style1 новинка
          //span.catalogue-card__label.style2 АКЦИЯ
          span.catalogue-card__label.style3 Хит
        //.catalogue-card__discount
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
        a(href="#").catalogue-card__video.js-animated
          svg.icon
            use(xlink:href="img/icons/icons.svg#video-player")
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 560579 Кукла OMG Neonlicious 23 см
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom
          .catalogue-card__price
            span.current 10 999 ₽
          button.button.button_style2.js-animated В корзину
mixin section(title)
  section.section
    .section__head
      h5.section__title.t-size-30=title
    .section__content
      .slider.slider_default.arrows.ctlg-slider
        .slide
          +slide1()
        .slide
          +slide2()
        .slide
          +slide1()
        .slide
          +slide2()
        .slide
          +slide1()
        .slide
          +slide2()
      
              