mixin card1()
  .catalogue-card
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 347.png", alt="").lazy
        .card-labels
          span.card-labels__label.style1 новинка
          span.card-labels__label.style2 АКЦИЯ
          //span.card-labels__label.style3 Хит
        .card-discont
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 559658 Гламурная
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom.row.row_compact
          .catalogue-card__price.col-xl-auto
            span.old 12 699 ₽
            span.current 10 999 ₽
          .col-xl
            button.button.button_style2.color1.js-animated В корзину
mixin card2()
  .catalogue-card
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 348.png", alt="").lazy
        .card-labels
          //span.card-labels__label.style1 новинка
          //span.card-labels__label.style2 АКЦИЯ
          span.card-labels__label.style3 Хит
        //.card-discont
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
        a(href="#").catalogue-card__video.js-animated
          svg.icon
            use(xlink:href="img/icons/icons.svg#video-player")
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 560579 Кукла OMG Neonlicious 23 см
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom.row.row_compact
          .catalogue-card__price.col-xl-auto
            span.current 1099 ₽
          .col-xl
            button.button.button_style2.color1.js-animated В корзину
//для каталога с отступами
mixin card3()
  .catalogue-card.col-xl-4.col-md-6.col-12
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 347.png", alt="").lazy
        .card-labels
          span.card-labels__label.style1 новинка
          span.card-labels__label.style2 АКЦИЯ
          //span.card-labels__label.style3 Хит
        .card-discont
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 559658 Гламурная
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom.row.row_compact
          .col
            .button.button_notsale Нет в наличии
mixin card4()
  .catalogue-card.col-xl-4.col-md-6.col-12
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 348.png", alt="").lazy
        .card-labels
          span.card-labels__label.style1 новинка
          span.card-labels__label.style2 АКЦИЯ
          //span.card-labels__label.style3 Хит
        //.card-discont
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
        a(href="#").catalogue-card__video.js-animated
          svg.icon
            use(xlink:href="img/icons/icons.svg#video-player")
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 560579 Кукла OMG Neonlicious 23 см
          span.catalogue-card__art Код товара 
            strong 559658
        .catalogue-card__bottom.row.row_compact
          .catalogue-card__price.col-xl-auto
            span.current 10 999 ₽
          .col-xl
            button.button.button_style2.color1.js-animated В корзину
mixin card5()
  .catalogue-card
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain.js-animated
          img(data-src="img/Layer 348.png", alt="").lazy
        .card-labels
          span.card-labels__label.style1 новинка
          span.card-labels__label.style2 АКЦИЯ
          //span.card-labels__label.style3 Хит
        .card-discont
          svg.icon
            use(xlink:href="img/icons/icons.svg#discount")
          span -15%
        a(href="#").catalogue-card__video.js-animated
          svg.icon
            use(xlink:href="img/icons/icons.svg#video-player")
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.js-animated L.O.L. Surprise 560579 Кукла OMG Neonlicious 23 см
          span.catalogue-card__art Код товара 
            strong 559658

mixin card6(title, text, href)
  .catalogue-card.col-xl-3.col-md-4.col-sm-6.col-12
    .catalogue-card__container.js-animated
      .catalogue-card__image
        a(href="#").cover-box.cover-box_contain
          img(data-src=href alt="image").lazy
      .catalogue-card__content
        .catalogue-card__top
          a(href="#").catalogue-card__title.t-size-24=title
          p=text
          