.filter.mb-20.bx_filter
  .filter__container
    a(href="javascript:void(0)" data-hide-text='Скрыть фильтр' data-show-text='Показать фильтр').button.button_style1.js-animated.type2.js-filter-toggle
      span Показать фильтр
      <i class="fas fa-filter"></i>
    .filter__head
      h6.filter__title Подобрать игрушку
    .filter__content
      .filter-section
        .filter-section__head 
          span.filter-section__title Цена
      .filter-section
        .filter-section__head 
          span.filter-section__title Возраст
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox" disabled)
              | 1-3 года
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 4-5 лет
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 6-8 лет
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 9-12 лет
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 12+ лет
      .filter-section
        .filter-section__head 
          span.filter-section__title Пол
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | для мальчиковмальчиковмальчиков
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | для девочек
      .filter-section
        .filter-section__head 
          span.filter-section__title Количество деталей
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 101-200
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 21-50
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | 51-100
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | больше 200
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | меньше 20
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | больше 200
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | больше 300
      .filter-section
        .filter-section__head 
          span.filter-section__title Бренд
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Chocolate Egg Surprise
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Бэби Борн
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Хот Вилс
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Chocolate Egg Surprise
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Бэби Борн
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Хот Вилс
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Chocolate Egg Surprise
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Бэби Борн
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Хот Вилс
      .filter-section
        .filter-section__head 
          span.filter-section__title Серия
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Chocolate Egg Surprise
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Бэби Борн
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Хот Вилс
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Chocolate Egg Surprise
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Бэби Борн
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Хот Вилс
      .filter-section
        .filter-section__head 
          span.filter-section__title Персонаж 
        .filter-section__content.scroll-container.shadow.shadow_style3
          .scroll-child
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Barbie
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Enchantimals
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Ever After High
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Gormiti
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | L.O.L Surprise!
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Ever After High
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | Gormiti
            label.checkbox.js-animated
              i.fas.fa-check
              input(type="checkbox")
              | L.O.L Surprise!
      .filter-section 
        .row.row_compact
          .col-xl-6.col-lg-12.col-sm-6.col-12
            a(href="javascript:void(0);").button.button_style2.color3.js-animated Сбросить
          .col-xl-6.col-lg-12.col-sm-6.col-12
            a(href="#").button.button_style2.color2.js-animated Показать
