footer.footer
  .container
    .footer__container.row
      .footer__section.col-xl-auto.col-md-12
        .logo
          a(href="/").logo__link.js-animated
            img(src="img/logos/logo-new2.svg" alt="logo")
          span.logo__text Мы любим<br> 
            span игрушки
        span.copy 2019 &copy; mvToys — детские игрушки и игры, товары для творчества и детского спорта с доставкой по всем городам России.
      .footer__section.col-xl-auto.col-12
        .footer-nav
          span.footer-nav__title ИНФОРМАЦИЯ
          ul
            li 
              a(href="#").js-animated.link.link_style2 Контакты
            li 
              a(href="#").js-animated.link.link_style2 О нас
            li 
              a(href="#").js-animated.link.link_style2 Политика конфиденциальности
            li 
              a(href="#").js-animated.link.link_style2 Публичная оферта
      .footer__section.col-xl-auto.col-12
        .footer-nav
          span.footer-nav__title ПОКУПАТЕЛЯМ
          ul
            li 
              a(href="#").js-animated.link.link_style2 Как оформить заказ
            li 
              a(href="#").js-animated.link.link_style2 Оплата и доставка
            li 
              a(href="#").js-animated.link.link_style2 Возврат и обмен
            li 
              a(href="#").js-animated.link.link_style2 Бренды
      .footer__section.col-xl-auto.col-12
        .contacts-block
          ul.contacts-block__list
            li.contacts-block__item
              a(href="tel:").contacts-block__link.js-animated.fwb.link.link_style2 8 (800) 500-50-50
            li.contacts-block__item
              a(href="tel:").contacts-block__link.js-animated.fwb.link.link_style2 8 (498) 222-33-44
        a(href="mailto:support@vmvtoys.ru").js-animated.link.link_style2.footer__email support@vmvtoys.ru
        .socials
          ul.socials__list
            li.socials__item  
              a(href="#").socials__link.js-animated
                i.fab.fa-vk
            li.socials__item  
              a(href="#").socials__link.js-animated
                i.fab.fa-facebook-f
            li.socials__item  
              a(href="#").socials__link.js-animated
                i.fab.fa-instagram
        img.footer__payment(src="img/payment.png", alt="payment")
