header.header
  .header__t-line-section
    .container
      ul.t-line-nav
        li.t-line-nav__item
          a(href="#").t-line-nav__link О компании
        li.t-line-nav__item
          a(href="#").t-line-nav__link Обратная связь
        li.t-line-nav__item
          a(href="#").t-line-nav__link Оптовикам
        li.t-line-nav__item
          a(href="#").t-line-nav__link Оплата и доставка
      span.header__t-info-item с 9.00 до 21.00, без выходных
  .m-header-block
    .container
      .m-header-block__container.row
        .logo.col-xl-auto
          a(href="/").logo__link
            img(src="img/logos/logo-new2.svg" alt="logo")
          span.logo__text Мы любим<br> 
            span игрушки
        .search.col-xl.col-12
          form(action="#").search__form
            .input
              input(type="text" placeholder="Что будем искать?")
            button.button.search__btn
              i.fas.fa-search
          a(href="javascript:boid(0);").search__close
            i.fas.fa-times
        .contacts-block.col-xl-auto
          ul.contacts-block__list
            li.contacts-block__item
              a(href="tel:").contacts-block__link.fwb.link.link_style2 8 (800) 500-50-50
            li.contacts-block__item
              a(href="tel:").contacts-block__link.fwb.link.link_style2 8 (498) 222-33-44
        .cart-nav-block.col-xl-auto
          a(href="javascript:void(0);").cart-nav-block__button.cart-nav-block__search-open
            i.fas.fa-search
          a(href="#auth" data-fancybox).cart-nav-block__button
            i.fas.fa-user
            .cart-nav-block__button-txt Профиль
          a(href="#").cart-nav-block__button
            i.fas.fa-shopping-cart
            .cart-nav-block__button-txt Корзина
            span 10
          a(href="javascript:void(0)").cart-nav-block__button.nav-toggle
            i.fas.fa-bars
            i.fas.fa-times
            .cart-nav-block__button-txt Меню
      