span.overlay
nav.m-nav
  ul.m-nav__list
    li.m-nav__item
      a(href="#").m-nav__link.button.button_style1.type2.js-animated мальчики
    li.m-nav__item
      a(href="#").m-nav__link.button.button_style1.type2.js-animated  девочки
    li.m-nav__item
      a(href="#").m-nav__link.button.button_style1.type2.js-animated  возраст
    li.m-nav__item
      a(href="#").m-nav__link.button.button_style1.type2.js-animated  бренды
    li.m-nav__item
      a(href="#").m-nav__link.button.button_style1.type2.js-animated  персонажи
      

