span.overlay
nav.m-nav
  .scroll-container.shadow.shadow_style2
    .scroll-child
      ul.m-nav__list
        li.m-nav__item.m-nav__item_button
          a.button.button_style2.color2(href='#auth' data-fancybox)
            i.fas.fa-user
            span Личный кабинет
        li.m-nav__item
          a(href="#").m-nav__link.button.button_style1.type2.js-animated мальчики
        li.m-nav__item
          a(href="#").m-nav__link.button.button_style1.type2.js-animated  девочки
        li.m-nav__item
          a(href="#").m-nav__link.button.button_style1.type2.js-animated  возраст
        li.m-nav__item
          a(href="#").m-nav__link.button.button_style1.type2.js-animated  бренды
        li.m-nav__item
          a(href="#").m-nav__link.button.button_style1.type2.js-animated  персонажи
        li.m-nav__item
          .contacts-block
            ul.contacts-block__list
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.link.link_style2 О компании
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.link.link_style2 Обратная связь
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.link.link_style2 Оптовикам
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.link.link_style2 Оплата и доставка
        li.m-nav__item
          .contacts-block
            ul.contacts-block__list
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.fwb.link.link_style2 8 (800) 500-50-50
              li.contacts-block__item
                a(href="tel:").contacts-block__link.js-animated.fwb.link.link_style2 8 (498) 222-33-44
      

