section.section.mailing
  .container
    .mailing__container.row
      .mailing__text.col-xl.col-md-12
        .bg.lazy(data-src="img/mail.png")
        h5.mailing__title.t-size-28 Подпишитесь на рассылку и получайте<br> дополнительные скидки!
      .mailing__form.col-xl-auto.col-md-12
        form(action="#").s-item-form
          .s-item-form__container
            input(type="email" placeholder="Ваш Email" requied).input.input_style2
            button.button.button_style2.color2.js-animated Подписаться