.row
  .s-banner.size2.col-xl-4.col-12
    a(href="#").s-banner__container.background-box.js-animated
      .lazy(data-src='img/баннер1.png')
  .s-banner.size2.col-xl-4.col-12
    a(href="#").s-banner__container.background-box.js-animated
      .lazy(data-src='img/баннер1 copy 2.png')
  .s-banner.size2.col-xl-4.col-12
    a(href="#").s-banner__container.background-box.js-animated
      .lazy(data-src='img/баннер1 copy.png')

