mixin slide()
  .slide.s-ctg-slider__slide
    a(href="#").slide.s-ctg-slider__item.background-box.js-animated
      .lazy&attributes(attributes)

.slider.slider_default.arrows.s-ctg-slider
  +slide()(data-src='img/e.png')
  +slide()(data-src='img/Layer 336.png')
  +slide()(data-src='img/Layer 337.png')
  +slide()(data-src='img/Layer 338.png')
  +slide()(data-src='img/Layer 340.png')
  +slide()(data-src='img/Layer 342.png')
  +slide()(data-src='img/Layer 344.png')
  +slide()(data-src='img/Rounded Rectangle 10 copy 5.png')